In [1]:
country = "China"

city = "New York"

In [2]:
def details():
    
    print("Country : ", country)
    
    print("City : ", city)

In [3]:
details()

Country :  China
City :  New York

In [4]:
def details():
    
    country = "India"
    
    print("Country : ", country)
    
    print("City : ", city)

In [5]:
details()

Country :  India
City :  New York

In [6]:
def details():
    
    city = city + "-Bangalore"
    
    print("Country : ", country)
    
    print("City : ", city)

In [7]:
details()

UnboundLocalError: local variable 'city' referenced before assignment

In [8]:
def details():
    
    city = "Bangalore"
    
    city = city + "-Karnataka"
    
    print("Country : ", country)
    
    print("City : ", city)

In [9]:
details

In [10]:
details()

Country :  China
City :  Bangalore-Karnataka

In [13]:
def details():
    
    global city
    
    city = city + "-California"
    
    print("Country : ", country)
    
    print("City : ", city)

In [14]:
details()

Country :  China
City :  New YorkCalifornia-California

In [15]:
country, city

('China', 'New YorkCalifornia-California')

In [18]:
salary = 20000

expense = 8000

ineterest_rate = .08

name = "James"

def savings():
    
    print("Name of the customer : ", name)
    
    savings = salary - expense
    
    print("Savungs is ", savings)
    
    print("Ineterest rate", ineterest_rate)

In [19]:
savings()

Name of the customer :  James
Savungs is  12000
Ineterest rate 0.08

In [20]:
def savings(name, salary, expense, int_rate):
    
    print("Name of the customer : ", name)
    
    savings = salary - expense
    
    print("Savungs is ", savings)
    
    print("Ineterest rate", ineterest_rate)

In [21]:
savings()

TypeError: savings() missing 4 required positional arguments: 'name', 'salary', 'expense', and 'int_rate'

In [23]:
savings(name, salary, expense, ineterest_rate)

Name of the customer :  James
Savungs is  12000
Ineterest rate 0.08

In [25]:
def savings(name, salary, expense, int_rate):
    
    print("Name of the customer : ", name)
    
    expense += 1000
    
    savings = salary - expense
    
    print("Savungs is ", savings)
    
    print("Ineterest rate", ineterest_rate)

In [26]:
savings(name, salary, expense, ineterest_rate)

Name of the customer :  James
Savungs is  11000
Ineterest rate 0.08

In [27]:
name, salary, expense, ineterest_rate

('James', 20000, 8000, 0.08)

In [30]:
def savings(name, salary, expense, int_rate):
    
    name = "Vickey"
    
    print("Name of the customer : ", name)
    
    
    expense += 1000
    
    savings = salary - expense
    
    print("Savungs is ", savings)
    
    int_rate = 0.09
    
    print("Ineterest rate", int_rate)

In [31]:
savings(name, salary, expense, ineterest_rate)

Name of the customer :  Vickey
Savungs is  11000
Ineterest rate 0.09

In [32]:
name, salary, expense, ineterest_rate

('James', 20000, 8000, 0.08)