In [3]:
num = int(input("Please enter the number :"))

var1 = str(num)

var2 = var1 + var1

var3 = var1 + var1 + var1

total = num + int(var2) + int(var3)

print("Sum of ", num , var2, var3, ":", total)

Please enter the number :30
Sum of  30 3030 303030 : 306090

In [4]:
pr_amount = float(input("Enter the principle amount : "))

duration = int (input("Enter the duration/number of months : "))

rate = float(input("Please enter the interest rate :"))

interest = (pr_amount * duration * rate)/100

print("Simple interest is : ", interest)

Enter the principle amount : 15000
Enter the duration/number of months : 24
Please enter the interest rate :8.5
Simple interest is :  30600.0

In [6]:
cms = float(input("Please enter the height in cms : "))

inches = 0.394 * cms

feet = 0.0324 * cms

print("Height in inches is : ", inches, "\nHeight in feet is : ", feet)

Please enter the height in cms : 165
Height in inches is :  65.01
Height in feet is :  5.346

In [8]:
mughals = ["Babur", "Humayun", "Akbar", "Jahangir", "Shah Jahan", "Aurangazeb"]

temp_king = mughals[0]

mughals [0] = mughals[2]

mughals [2] = temp_king

mughals

['Akbar', 'Humayun', 'Babur', 'Jahangir', 'Shah Jahan', 'Aurangazeb']

In [ ]:
print("Before swap : ", mughals)

king1 = 0
king2 = 2

mughals[king1], mughals[king2] = mughals[king2], mughals[king1]

print(After Swa)