In [1]:
def sub_mark(phy, che, math, bio):
    
    dict1 = { "Physics" : phy,
             
             "Chemistry": che,
             
             "Maths": math,
             
             "Biology" : bio
        
    }
    
    sum1 = phy + che + math + bio
    
    return (dict1, sum1)

In [3]:
sub_mark(che = 96, math = 96, phy=95, bio = 94)

({'Physics': 95, 'Chemistry': 96, 'Maths': 96, 'Biology': 94}, 381)

In [4]:
num = [7, 98, 15, 68, 26]

sorted(num)

[7, 15, 26, 68, 98]

In [7]:
sorted(num, reverse=True)

[98, 68, 26, 15, 7]

In [10]:
print("Sabu", "May", "June", sep="|", end="\n**********")

Sabu|May|June
**********

In [3]:
def stud_details(name, school, enrolled, phy, che, math, bio):
    
    dict1 = { "Name" : name,
             
             "School": school,
             
             "Enrolled": enrolled,
             
        
    }
    
    sum1 = phy + che + math + bio
    
    return (dict1, sum1)

In [5]:
stud_details("Sabu", "AUP Ayiroor", enrolled=True, phy = 98, che= 99, math =100, bio=97)

({'Name': 'Sabu', 'School': 'AUP Ayiroor', 'Enrolled': True}, 394)

In [7]:
def stud_details(name, school, phy, che, math, bio, enrolled=False):
    
    dict1 = { "Name" : name,
             
             "School": school,
             
             "Enrolled": enrolled,
             
        
    }
    
    sum1 = phy + che + math + bio
    
    return (dict1, sum1)

In [8]:
stud_details("Sabu", "AUP Ayiroor", phy = 98, che= 99, math =100, bio=97)

({'Name': 'Sabu', 'School': 'AUP Ayiroor', 'Enrolled': False}, 394)

In [9]:
def stud_details(name, school, phy, che, math, bio = 65, enrolled=False):
    
    dict1 = { "Name" : name,
             
             "School": school,
             
             "Enrolled": enrolled,
             
        
    }
    
    sum1 = phy + che + math + bio
    
    return (dict1, sum1)

In [10]:
stud_details("Sabu", "AUP Ayiroor", phy = 98, che= 99, math =100, bio=98)

({'Name': 'Sabu', 'School': 'AUP Ayiroor', 'Enrolled': False}, 395)

In [11]:
stud_details("Sabu", "AUP Ayiroor", phy = 98, che= 99, math =100)

({'Name': 'Sabu', 'School': 'AUP Ayiroor', 'Enrolled': False}, 362)

In [12]:
def stud_details(name = "Sabu", school = "GMBHSS", phy=98, che=99, math=100, bio = 95, enrolled=False):
    
    dict1 = { "Name" : name,
             
             "School": school,
             
             "Enrolled": enrolled,
             
        
    }
    
    sum1 = phy + che + math + bio
    
    return (dict1, sum1)

In [13]:
stud_details()

({'Name': 'Sabu', 'School': 'GMBHSS', 'Enrolled': False}, 392)

In [14]:
stud_details("Sarath")

({'Name': 'Sarath', 'School': 'GMBHSS', 'Enrolled': False}, 392)

In [15]:
def prnt_fn(strng = "\n"):
    
    print(strng)

In [16]:
prnt_fn()

In [17]:
prnt_fn("MOB")

MOB

In [18]:
def print_fn(*args):
    
    arg_type = type(args)
    
    print(args, arg_type)

In [20]:
print_fn("Sabu", 97, 100)

('Sabu', 97, 100) <class 'tuple'>

In [21]:
print_fn("Sahoo")

('Sahoo',) <class 'tuple'>

In [22]:
def print_fn(*args):
    
      
    print(args)

In [23]:
lst = [10, 20, 30, 58]

In [24]:
print_fn(lst)

([10, 20, 30, 58],)

In [25]:
print_fn(*lst)

(10, 20, 30, 58)

In [27]:
def students_college(college, city, *students):
    
    print("College is ", college)
    print("City is ", city)
    print("Student is ", students)

In [28]:
students_college("Harward", "New York", "Sabu", "Kaushik")

College is  Harward
City is  New York
Student is  ('Sabu', 'Kaushik')

In [29]:
def students_college( *students, college, city):
    
    print("College is ", college)
    print("City is ", city)
    print("Student is ", students)

In [30]:
students_college("Myaavoo", "Arabic", "Assabah", "CKM")

TypeError: students_college() missing 2 required keyword-only arguments: 'college' and 'city'

In [31]:
students_college("Myaavoo", "Arabic", college = "Assabah", city="CKM")

College is  Assabah
City is  CKM
Student is  ('Myaavoo', 'Arabic')

In [32]:
def student_details (**kwargs):
    
    print(kwargs)
    
    print(type(kwargs))

In [34]:
student_details (Name = "Sabu", subject="Bio")

{'Name': 'Sabu', 'subject': 'Bio'}
<class 'dict'>

In [35]:
student_details (Name = "Sabu", subject="Bio", Marks = 100)

{'Name': 'Sabu', 'subject': 'Bio', 'Marks': 100}
<class 'dict'>

In [36]:
details = {'Name': 'Sabu', 'subject': 'Bio', 'Marks': 100}

student_details(details)

TypeError: student_details() takes 0 positional arguments but 1 was given

In [37]:
student_details(**details)

{'Name': 'Sabu', 'subject': 'Bio', 'Marks': 100}
<class 'dict'>

In [39]:
student_details(****details)

SyntaxError: invalid syntax (<ipython-input-39-871083a12f4e>, line 1)

In [41]:
def students_college(**students):
    
    if "Name" in students:
          print("Student is ", students["Name"])
     
    if "subject" in students:
        
        print("Subject is ", students["subject"])

In [45]:
details = {'Name': 'Sabu', 'subject': 'Bio', 'Marks': 100}

students_college(**details)

Student is  Sabu
Subject is  Bio

In [46]:
details = {'Name': 'Sabu'}

students_college(**details)

Student is  Sabu