In [1]:
for i in ["Qutab Minar", "Chahar Bagh", "Yamuna", "Mahmud of Ghani"]:
    print(i)

Qutab Minar
Chahar Bagh
Yamuna
Mahmud of Ghani

In [2]:
for i in "Mahmud Ghazni":
    print(i)

M
a
h
m
u
d

G
h
a
z
n
i

In [3]:
for i in "1007":
    
    print(i)

1
0
0
7

In [4]:
 for i in "Dara Skuhoh", "Sabu":
        
        print(i)

Dara Skuhoh
Sabu

In [7]:
dogs = ("one", "two", "three")

for dog in dogs:
    
    print("Dog ",dog)

Dog  one
Dog  two
Dog  three

In [9]:
name_age = (("Sabu", 30), ("Varsha", 29), ("Tara", 11))

In [10]:
for i in name_age:
    
    print(i)

('Sabu', 30)
('Varsha', 29)
('Tara', 11)

In [12]:
for i, (name, age) in enumerate (name_age):
    
    print("Name is %s and Age is %d" %(name, age))

Name is Sabu and Age is 30
Name is Varsha and Age is 29
Name is Tara and Age is 11

In [17]:
dic1 = {"Sabu": 30, "Varsha" : 29, "Tara" : 11}

for name in dic1:
    
    print(name, dic1[name])

Sabu 30
Varsha 29
Tara 11

In [14]:
for i in dic1.values():
    
    print(i)

30
29
11

In [18]:
for key_value in dic1.items():
    
    print(key_value)

('Sabu', 30)
('Varsha', 29)
('Tara', 11)

In [20]:
for i, (name, age) in enumerate (dic1.items()):
    
    print("The %d th Name is %s and his or her age is %d" %(i,name,age))

The 0 th Name is Sabu and his or her age is 30
The 1 th Name is Varsha and his or her age is 29
The 2 th Name is Tara and his or her age is 11

In [23]:
num = [81, 108, 125, 58]

for n1 in num:
    
    q1 = n1//3
    
    print("Quotient of %d by 3 is %d" %(n1, q1))

Quotient of 81 by 3 is 27
Quotient of 108 by 3 is 36
Quotient of 125 by 3 is 41
Quotient of 58 by 3 is 19

In [27]:
for n2 in num:
    
    square = n2 ** 2
    
    print("Swauare of %d is %d" %(n2, square)) 
    
else:
    
    print("No more numbers are present")

Swauare of 81 is 6561
Swauare of 108 is 11664
Swauare of 125 is 15625
Swauare of 58 is 3364
No more numbers are present

In [26]:
str1 = input("Enter the name : ")

len1 = 0

for i in str1:
    
    len1 = len1 +1
    
print(len1)

Enter the name : Alauddin Khalji
15