In [1]:
marg = ["Karamchari Andolan", "Manual Scavengers", "SC and ST Act 1989", 2013]

for i in marg:
    
    if i == 2013:
        
        print("This is correct")

This is correct

In [2]:
years = [2016, 2017, 2000, 2004, 2020, 2024]

for lp in years:
    
    if lp % 4 == 0:
        
        print("%d It is a leap year" %lp)
        
    else:
        
        print("Not leap year")

2016 It is a leap year
Not leap year
2000 It is a leap year
2004 It is a leap year
2020 It is a leap year
2024 It is a leap year

In [4]:
players = [["Kohli", "Rahane", "Rohit", "Gill"], ["Bumrah", "Siraj", "Ishant"]]

for player in players:
    
    for name in player:
        
        print(name)

Kohli
Rahane
Rohit
Gill
Bumrah
Siraj
Ishant

In [5]:
my_range = range(5)

my_range

range(0, 5)

In [6]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [7]:
ls1 = list(range(101,110))

In [8]:
ls1

[101, 102, 103, 104, 105, 106, 107, 108, 109]

In [9]:
ls2 = list(range(-10, 3))

ls2

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2]

In [10]:
for i in range(7):
    
    print(i)

0
1
2
3
4
5
6

In [11]:
for _ in range(2):
    
    print("Hellooon")

Hellooon
Hellooon

In [12]:
for _ in range (2 ** 3):
    
    print("I love you")

I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you

In [14]:
for i in range (2, 20):
    
    print(i, "square is ", i ** 2)
    
else:
    
    print("Loop is over")

2 square is  4
3 square is  9
4 square is  16
5 square is  25
6 square is  36
7 square is  49
8 square is  64
9 square is  81
10 square is  100
11 square is  121
12 square is  144
13 square is  169
14 square is  196
15 square is  225
16 square is  256
17 square is  289
18 square is  324
19 square is  361
Loop is over

In [15]:
for i in reversed (range(10)):
    
    print(i)

9
8
7
6
5
4
3
2
1
0

In [16]:
for i in reversed("Melcow"):
    
    print(i)

w
o
c
l
e
M

In [17]:
list(range(5,10,2))

[5, 7, 9]

In [18]:
tuple(range(-2, -10, -3))

(-2, -5, -8)