In [1]:
for i in reversed (range(10, 50, 2)):
    
    if i % 3 == 0:
        
        print("The number %d is divisible by 3" %i)
        
    else:
        
        print("Its not a multiple of 3")

The number 48 is divisible by 3
Its not a multiple of 3
Its not a multiple of 3
The number 42 is divisible by 3
Its not a multiple of 3
Its not a multiple of 3
The number 36 is divisible by 3
Its not a multiple of 3
Its not a multiple of 3
The number 30 is divisible by 3
Its not a multiple of 3
Its not a multiple of 3
The number 24 is divisible by 3
Its not a multiple of 3
Its not a multiple of 3
The number 18 is divisible by 3
Its not a multiple of 3
Its not a multiple of 3
The number 12 is divisible by 3
Its not a multiple of 3

In [2]:
num_list = []

for i in range (1,101):
    
    if i % 5 == 0:
        
        num_list.append(i)
        
print(num_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [7]:
even_dig = []

for i in range (100, 301):
    
    str_nm = str(i)
    
    dig1 = int(str_nm[0])
    
    dig2 = int(str_nm[1])
    
    dig3 = int(str_nm[2])
    
    
    if ((dig1 % 2 == 0) and (dig2 % 2 == 0) and (dig3 % 2 == 0)):
        
        even_dig.append(str_nm)

print(even_dig)        
print(", ".join(even_dig))

['200', '202', '204', '206', '208', '220', '222', '224', '226', '228', '240', '242', '244', '246', '248', '260', '262', '264', '266', '268', '280', '282', '284', '286', '288']
200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

In [12]:
vehicles = [["Vw", "Mercedes", "BMW"], ["Honda", "Toyota", "Mazda"]]

veh2 = []

for car_list in vehicles:
    
    for veh in car_list:
        
        veh2.append(veh)
        

print(veh2)

['Vw', 'Mercedes', 'BMW', 'Honda', 'Toyota', 'Mazda']

In [11]:
for i in range (2000, 2100):
    
    if i % 4 == 0:
        
        print("%d is a leap year" %i)

2000 is a leap year
2004 is a leap year
2008 is a leap year
2012 is a leap year
2016 is a leap year
2020 is a leap year
2024 is a leap year
2028 is a leap year
2032 is a leap year
2036 is a leap year
2040 is a leap year
2044 is a leap year
2048 is a leap year
2052 is a leap year
2056 is a leap year
2060 is a leap year
2064 is a leap year
2068 is a leap year
2072 is a leap year
2076 is a leap year
2080 is a leap year
2084 is a leap year
2088 is a leap year
2092 is a leap year
2096 is a leap year