In [1]:
start_tuple = ()

start_tuple

()

In [2]:
type(start_tuple)

tuple

In [3]:
print(type(start_tuple))

<class 'tuple'>

In [4]:
num = (4,5,6)

num

(4, 5, 6)

In [5]:
str_tuple = ("Touktae", "Yass")

print(num, str_tuple)

(4, 5, 6) ('Touktae', 'Yass')

In [6]:
print(num * 3)

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [7]:
x, y, z = str_tuple

ValueError: not enough values to unpack (expected 3, got 2)

In [8]:
x, y, z = num

In [9]:
x, y, z

(4, 5, 6)

In [10]:
nested_tuple = (2, 3, (4,5,6))

nested_tuple

(2, 3, (4, 5, 6))

In [11]:
combo_tuple = ("Sprint", ["Jon", "Danaerys"], 3, 7.8)

combo_tuple

('Sprint', ['Jon', 'Danaerys'], 3, 7.8)

In [12]:
print(combo_tuple[1])

['Jon', 'Danaerys']

In [13]:
print(combo_tuple[1][1])

Danaerys

In [15]:
print(combo_tuple[::2])

('Sprint', 3)

In [16]:
print(combo_tuple[::-1])

(7.8, 3, ['Jon', 'Danaerys'], 'Sprint')

In [17]:
combo_tuple.index(7.8)

3

In [18]:
3 in combo_tuple

True

In [19]:
3 not in combo_tuple

False

In [20]:
sum(num)

15

In [21]:
list(num)

[4, 5, 6]

In [22]:
set(num)

{4, 5, 6}

In [23]:
combo_tuple[1][1]=200

combo_tuple

('Sprint', ['Jon', 200], 3, 7.8)

In [24]:
del combo_tuple[2]

TypeError: 'tuple' object doesn't support item deletion

In [25]:
a = ("Kohli", "ABD", "Maxi", "Jamieson")

b = (19, 18, 16, 10)

In [26]:
zipped = zip (a, b)

print(zipped)

<zip object at 0x0000023DCAA92140>

In [27]:
cost = tuple(zipped)

print(cost)

(('Kohli', 19), ('ABD', 18), ('Maxi', 16), ('Jamieson', 10))

In [29]:
x, y = zip (*cost)

x,y

(('Kohli', 'ABD', 'Maxi', 'Jamieson'), (19, 18, 16, 10))

In [30]:
print (x)

('Kohli', 'ABD', 'Maxi', 'Jamieson')

In [31]:
i, j = zip(*zipped)

ValueError: not enough values to unpack (expected 2, got 0)

In [32]:
c = ["Kohli", "ABD", "Maxi", "Jamieson"]

d = [19, 18, 16, 10]

cost = zip(c,d)

In [33]:
print(cost)

<zip object at 0x0000023DCA9E9BC0>

In [34]:
shown_result = list(cost)

In [35]:
shown_result

[('Kohli', 19), ('ABD', 18), ('Maxi', 16), ('Jamieson', 10)]

In [37]:
g, h = zip (*shown_result)

In [38]:
print(h)

(19, 18, 16, 10)

In [39]:
print(dict(cost))

{}

In [40]:
y = dict(cost)

In [41]:
y

{}

In [42]:
print(dict(zipped))

{}

In [43]:
num = [1, 2, 3]

num_eng = ["one", "two", "three"]

In [44]:
set_num = zip(num, num_eng)

In [45]:
print(set(set_num))

{(1, 'one'), (2, 'two'), (3, 'three')}

In [46]:
print(dict(set_num))

{}

In [48]:
type(combo_tuple[3])

float

In [49]:
first = {"Sabu": 30, "Kaushik" : 25, "Vishnu" : 24}

In [50]:
print (first)

{'Sabu': 30, 'Kaushik': 25, 'Vishnu': 24}